<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head'); %>
</head>
<body>
<div class="main-wrapper d-flex">
    <!-- sidebar -->
    <%- include('layouts/menu'); %>
    <!-- sidebar end -->

    <div class="main-content-wrapper w-100 position-relative overflow-auto">
        <!-- Topbar -->
        <%- include('layouts/header'); %>
        <!-- Topbar End -->

        <!-- Content Area -->
        <div class="content-area">
            <!-- news start -->
            <!-- <BreakingNews v-if="isArticleList" :recent_article="articleList" /> -->
            <!-- news end -->
            <div class="content-title-wrapper px-15 py-15 d-flex justify-content-between">
                <h2 class="content-title text-uppercase m-0">Dashboard</h2>
                <button class="btn btn-sm btn-primary" @click="printDiv()"><i class="fas fa-print"></i> Print</button>
            </div>

            <div class="content-wrapper d-fullscreen" id="printableArea">

                <!-- <BannerSlider v-if="isBannerStatus" :banner_list="bannerList"></BannerSlider> -->

                <!-- Content Area -->
                <div class="data-content-area pr-15 pb-10">
                    <div class="gredient-card-wrapper mb-40" id="counters">

                        <div class="gredient-card-body p-20 p-md-30" style="background: #ff7b8836;">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                    <div class="box-with-centered-icon position-relative text-center bg-white p-20 my-30">
                                        <div class="icon d-inline-flex justify-content-center align-items-center bg-primary text-white"><i
                                                    class="fas fa-user-tie"></i></div>
                                        <h3 class="my-0 font-16 pt-40 pb-20">Total Users</h3>
                                        <div class="counting-number text-primary">
                                            <total-user v-if="totalCountList" :totalUser="totalCountList.total_user"></total-user>
                                            <div class="counting-number text-primary" v-else>0</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                    <div class="box-with-centered-icon position-relative text-center bg-white p-20 my-30">
                                        <div class="icon d-inline-flex justify-content-center align-items-center bg-red text-white"><i
                                                    class="fas fa-user-times"></i></div>
                                        <h3 class="my-0 font-16 pt-40 pb-20">Total Articles</h3>

                                        <total-article v-if="totalCountList" :totalArticle="totalCountList.total_article"></total-article>
                                        <div class="counting-number text-red" v-else>0</div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                    <div class="box-with-centered-icon position-relative text-center bg-white p-20 my-30">
                                        <div class="icon d-inline-flex justify-content-center align-items-center bg-yellow text-white"><i
                                                    class="fas fa-hourglass-half"></i></div>
                                        <h3 class="my-0 font-16 pt-40 pb-20">Total FAQs</h3>
                                        <total-faqs v-if="totalCountList" :totalFaq="totalCountList.total_faq"></total-faqs>

                                        <div class="counting-number text-yellow" v-else>0</div>

                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                    <div class="box-with-centered-icon position-relative text-center bg-white p-20 my-30">
                                        <div
                                                class="icon d-inline-flex justify-content-center align-items-center bg-light-blue text-white"><i
                                                    class="fas fa-headphones-alt"></i></div>
                                        <h3 class="my-0 font-16 pt-40 pb-20">Total Quiz</h3>
                                        <!--                      <div class="counting-number text-light-blue"> {{ totalCountList.total_quiz }} </div>-->
                                        <total-quiz v-if="totalCountList" :totalQuiz="totalCountList.total_quiz"></total-quiz>

                                        <div class="counting-number text-light-blue" v-else>0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- charts start -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="gredient-card-wrapper mb-30">
                                <div class="gredient-card-header p-10" style="background:#f8f9fa;color:#323232;">
                                    <h2 class="card-title my-0 font-16">Area Chart</h2>
                                </div>

                                <div class="gredient-card-body p-20 p-md-30 with-bottom-shape" style="background: #fff;">
                                    <AreaChart style="height:250px;" id="areaChart" ref="areaChart"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="gredient-card-wrapper mb-30">
                                <div class="gredient-card-header p-10" style="background:#f8f9fa;color:#323232;">
                                    <h2 class="card-title my-0 font-16">Bar Chart</h2>
                                </div>

                                <div class="gredient-card-body p-20 p-md-30 with-bottom-shape" style="background: #fff;">
                                    <BarChart style="height:250px;" id="barChart" ref="barChart"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- charts end -->

                    <!-- most recent posts -->
                    <!-- <div class="gredient-card-wrapper mb-40">
                      <div class="gredient-card-header p-10" style="background:#f8f9fa;color:#323232;">
                        <h2 class="card-title my-0 font-16">Recent Articles</h2>
                      </div>
                      <div class="gredient-card-body pt-20 pb-20 px-10" style="background: #fff;">
                        <div class="table-responsive">
                          <table class="table table-bordered gsl-table">
                            <thead>
                            <tr>
                              <th class="text-left">Title</th>
                              <th class="text-left">Category</th>
                              <th class="text-left">Author</th>

                              <th class="text-left">Status</th>
                              <th class="text-left">Tag</th>
                              <th class="text-left">Publish Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="an_article in articleList" :key="an_article.id">
                              <td class="text-left">
                                <span v-if="(an_article.en_title).length<30"> {{ an_article.en_title }}</span>
                                <span v-else> {{ (an_article.en_title).substring(0,30)+"...." }}</span>
                              </td>
                              <td class="text-left">{{ an_article.category ? an_article.category.name : ''  }}</td>
                              <td class="text-left">{{ an_article.user ? (an_article.user.first_name +' '+ an_article.user.last_name) : '' }}</td>

                              <td class="text-left">{{ an_article.status  }}</td>
                              <td class="text-left">{{ an_article.tag  }}</td>
                              <td class="text-left">{{ an_article.created_at  }}</td>


                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div> -->
                    <!-- most recent posts end -->

                </div>
                <!-- Content Area End -->
            </div>
        </div>
        <!-- Content Area End -->
    </div>
    <div class="action-modal-wraper" v-if="success_message">
        <span>{{ success_message }}</span>
    </div>

    <div class="action-modal-wraper-error" v-if="error_message">
        <span>{{ error_message }}</span>
    </div>
</div>
</body>
</html>