<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title><%= typeof title !== 'undefined' ? title : null; %></title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bundle.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">
<link href="/css/fontawesome-5/css/all.css" rel="stylesheet">

<link href="/css/login.css" rel="stylesheet">

<link href="/css/roboto-font.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
