<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title><%= typeof title !== 'undefined' ? title : null; %></title>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/bundle.css" rel="stylesheet">
<link href="/stylesheets/custom.css" rel="stylesheet">
<link href="/stylesheets/fontawesome-5/css/all.css" rel="stylesheet">

<link href="/stylesheets/login.css" rel="stylesheet">

<link href="/stylesheets/robot-font.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">