<% if(typeof validationErrors !== 'undefined') { %>

    <% const errors = JSON.parse(validationErrors) %>

    <% if(errors && errors[name]){ %>
        <small class="text-right text-danger"><span id="loginError"><%= errors[name].msg %></span>
        </small>
<% }
} %>
